{% extends 'index3.html' %}
{% block content %}

<table class="table table-dark table-striped ">
   <caption>Todo List</caption>
  <thead>
    <tr>
      <th scope="col">Sl no.</th>
      <th scope="col">Title</th>
      <th scope="col">Subject</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.title}}</td>
      <td>{{i.subject}}</td>
      <td>{{i.date}}</td>
    </tr>
   {% endfor %}
     </tbody>

</table>




{% endblock %}